{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Household administration page</title>
</head>
<body>
{% if user.is_admin %}

    <div class="row" style="content: ''; display: table; clear: both;">

      <div class="column" style="width: 33.33%;">
          <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-flxvn/embed/charts?id=8a415842-60a5-4233-9efd-49aa4e025192&theme=light"></iframe>
      </div>

        <div>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-flxvn/embed/charts?id=a99a5faa-549d-4c82-80eb-1c24878b2a27&theme=light"></iframe>
        </div>

    </div>
{% else %}
    <p>
        you do not have access to this page
    </p>
{% endif %}

</body>
</html>
{% endblock %}