{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">CHARTS</h3>
				</div>
				<div class="d-table justify-content-center">

                <span>
                <p>MeterId's: [
                    {% for id in user.meterIdsAsList %}
                        {{ id }},
                    {% endfor %}
                ]
                </p>
                </span>


                {% for id in user.meterIdsAsList %}
                    <a class="btn btn-lg btn-success" href="{% url 'household' houseHoldId=id %}">
                        <i class="fa fa-square"></i> Chart for household [{{ id }}]
                    </a>
                {% endfor %}
				</div>
			</div>
		</div>
	</div>

</body>

<body>
    <h1>Home page</h1>
        <div>
        <p>
            meterids: {{ user.meterID }}
        </p>
    </div>

    {% for ids in user.meterIdsAsList %}
        <p>
        hey: {{ ids }}
        </p>
    {% endfor %}
    <div>
        <a href="{% url 'household' houseHoldId=0 %}">Go to household 1</a>
    </div>
    <div>
        <a href="{% url 'household' houseHoldId=1 %}">Go to household 2</a>
    </div>
    <div>
        <a href="{% url 'household' houseHoldId=2 %}">Go to household 3</a>
    </div>
    <div>
        <a href="{% url 'household' houseHoldId=3 %}">Go to household 4</a>
    </div>

    <div>
        <a href="{% url 'admin' %}">Go to administration page</a>
    </div>
    <div>
        <a href="{% url 'supplier' %}">Go to supplier page</a>
    </div>

</body>
</html>
{% endblock %}