{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Household administrator page</title>
</head>

<h1>
    Total power consumption
</h1>
<body>
{% if user.is_staff %}
    <div class="row">
        <div class="column">
            <div>
            <iframe
                    style="background: #FFFFFF; border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                    width="640"
                    height="480"
                    src="https://charts.mongodb.com/charts-project-0-flxvn/embed/charts?id=5ee123b7-a7f8-4083-a04f-a7b14e8b4aed&theme=light">
            </iframe>
            </div>
            <div>
                <iframe
                    style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                    width="640"
                    height="480"
                    src="https://charts.mongodb.com/charts-project-0-flxvn/embed/charts?id=c2d815ca-a76e-4e5a-9676-7ab95c0b88a9&theme=light">
                </iframe>
            </div>
        </div>
    </div>
{% else %}
    <p>
        you do not have access to this page
    </p>
{% endif %}
</body>

</body>
</html>
{% endblock %}